<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- build:css /assets/stylesheets/style.min.css -->
  <link rel="stylesheet" href="{{ site.url }}/assets/stylesheets/style.css">
  <!-- endbuild -->
  <link href='//fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">

  <!-- JS -->
  <!-- build:js /assets/javascript/all.min.js -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/algoliasearch/3.5.0/algoliasearch.min.js"></script>
  <script>
    window.baseUrl = '{{ site.url }}';
    window.algolia = algoliasearch('{{ site.algolia.application_id }}', '{{ site.algolia.search_only_api_key }}');
    window.index = algolia.initIndex('{{ site.algolia.index_name }}');
  </script>
  <script type="text/template" id="my-custom-menu-template">
    <div class="my-custom-menu">
      <div class="row">
        <div class="col-sm-6">
          <div class="aa-dataset-d1"></div>
        </div>
        <div class="col-sm-6">
          <div class="aa-dataset-d2"></div>
          <div class="aa-dataset-d3"></div>
        </div>
      </div>
    </div>
  </script>
  <script src="{{ site.url }}/assets/javascript/javascript.js"></script>
  <!-- endbuild -->

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.url }}/assets/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
