/*
The main SCSS file for everything, yep
*/

$cl-green : #59AA2B;

nav.navbar {
  margin-bottom: 0;
  border-radius: 0;
  .navbar-nav>li>a {
    margin: 15px 0;
  }
  .navbar-form{
    padding-top: 15px;
  }
}

.jumbotron {
  background-color: #59AA2B;
  min-height: 410px;
  h2{
    padding-top: 20px;
    font-size: 3em;
    letter-spacing: 1px;
    color: white;
    line-height: 1.3em
  }
  .btn{
    background-color: transparent;
    border: solid 2px white;
  }
  .btn img{
    margin-right: 10px;
  }
  .anim-container{
    position: absolute;
    width: 655px;
    padding: 50px;
    background-image: url('../images/MB-screen.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  img.anim{
    position: relative;
    top: -10px;
    left: 32px;
  }
}

i.fa-3x{
  border: solid 2px rgba($cl-green,.2);
  width: 70px;
  height: 70px;
  line-height: 64px;
  border-radius: 50%;
  text-align: center;
}

.spacer30{
  height: 30px;
  width: 100%;
  clear: both;
}

h1, h2, h3, h4, h5 {
  font-family: 'Marvel', sans-serif;
}

h2{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}

h3{
  color: $cl-green;
}