---
layout: default
---
<div class="container post">

  <div class="row post-full">
    <div class="col-md-9">
      <div class="content">
        {{ content }}
      </div>
    </div>
    <div class="col-md-3">
      <div class="spacer30"></div>
      <h2>Documentation</h2>
      <ul class="posts list-unstyled">
        {% assign sortedposts = site.posts | sort %}
        {% for post in sortedposts %}
          {% if post.categories.size == 1 %}
            <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      {% for category in site.categories %}
        <div class="catbloc" id="{{ category | first | remove:' ' }}">
          {% assign category_name = category | first %}
          {% if category_name != 'docs' %}
            <h3>{{ category | first }}</h3>
            <ul class="posts list-unstyled">
              {% for posts in category %}
                {% for post in posts %}
                  {% if post.url %}
                    <li>
                      <a href="{{ site.url }}{{ post.url }}">
                        {{ post.title }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
