/*
The main SCSS file for everything, yep
*/
nav.navbar {
  margin-bottom: 0;
  border-radius: 0; }

.jumbotron {
  background-color: #59AA2B;
  color: white; }

.spacer30 {
  height: 30px;
  width: 100%;
  clear: both; }
